<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/menu">
      <img src="/img/android-chrome-192x192.png" alt="FletsApp: Llevalo y traelo al toque" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/panel">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
          Secciones
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="/panel/flets">
            Flets
          </a>
          <a class="navbar-item" href="/panel/preferencias">
            Preferencias
          </a>
          <a class="navbar-item" href="/panel/pagos">
            Pagos
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" target="_blank" href="https://fletsapp.herokuapp.com">
              <span class="icon">
                <i class="fab fa-desktop"></i>
              </span>
              <span>
                Ir a FletsApp
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-primary" href="https://github.com/martinfrith/fletsapi">
              <span class="icon">
                <i class="fas fa-github"></i>
              </span>
              <span>Github</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>