<%- contentFor('css') %>

<title>Pagos</title>

<%- contentFor('js') %>

<%- contentFor('content') %>

<% include ./header %>

<h2>Pagos</h2>

<% if(!data.length){ %>

<h6>No hay pagos todavía. Esperemos un poco mas!</h6>

<% }else{ %>

<div class="columns is-multiline">
    <% data.forEach(function(item) { %>
	<div class="column has-background-light">
		<span class="has-text-dark is-size-3"><%= item.status %></span><br>
	</div>
    <% }); %>
</div>

<% } %>
