<%- contentFor('css') %>

<title>FletsPanel</title>

<%- contentFor('js') %>

<script>

	$(function(){
		var secs = 0;
		var seconds = 60
		var countdown = seconds
		var circleEl = document.getElementById('circle');
		var spinnerContainerEl = document.querySelector('.spinner-container')
		var approvedEl = document.querySelector('.approved')
		var preferencesEl = document.querySelector('.preferencias')
		var rejectedEl = document.querySelector('.rejected')
		var countdownNumberEl = document.getElementById('countdown-number');
		var clock = 0

		var retrieve = function(){
			var preferencias = 0
			var approved = 0
			var rejected = 0

			spinnerContainerEl.classList.remove('fadeOut')
			spinnerContainerEl.classList.add('fadeIn')

			$.ajax({
				url: '/panel/search',
				method:'post',
				dataType: 'json',
				data: { data : JSON.stringify({
						limit:null
					})
				},
				success: function(res){
					for(var i in res.results){
						preferencias++
						if(res.results[i].mercadopago){
							if(res.results[i].mercadopago.status === 'approved'){
								flets++
							} else {
								rejected++
							}
						}
					}				

					approvedEl.textContent = approved
					rejectedEl.textContent = rejected
					preferencesEl.textContent = preferencias
					spinnerContainerEl.classList.remove('fadeIn')
					spinnerContainerEl.classList.add('fadeOut')

					document.title = '(' + preferencias + ') FletsPanel'

					if(clock){
						clearInterval(clock)
					}

					countdownNumberEl.classList.remove('fadeOut')
					countdownNumberEl.classList.add('fadeIn')
					countdownNumberEl.textContent = countdown;

					clock = setInterval(function(){
						if(countdown===0){
							console.log("retrieve & cleear animation")
							countdownNumberEl.classList.remove('fadeIn')
							countdownNumberEl.classList.add('fadeOut')
							circleEl.classList.remove('countdown')
							retrieve()	
						} else if(countdown === seconds){
							circleEl.classList.add('countdown')
						}

						countdownNumberEl.textContent = countdown;
						countdown = --countdown < 0 ? seconds : countdown;
					},1000)

				},
				error: function(xhr, textStatus, error){
				    alert(xhr.statusText);
				    alert(textStatus);
				    alert(error);
				}
			})	
		}

		retrieve()	
	})

</script>

<%- contentFor('content') %>

<% include ./header %>

<div class="columns panel">
	<a href="/panel/preferencias" class="column has-background-info">
		<h5 class="has-text-white">Preferencias</h5>
		<h1 class="has-text-white is-size-1 has-text-centered">
			<span class="preferencias">0</span>
		</h1>
	</a>
	<a href="/panel/flets" class="column has-background-success">
		<h5 class="has-text-white">Flets</h5>
		<h1 class="has-text-white is-size-1 has-text-centered">
			<span class="approved">0</span>
		</h1>
	</a>
	<a href="/panel/rechazados" class="column has-background-danger">
		<h5 class="has-text-white">Rechazados</h5>
		<h1 class="has-text-white is-size-1 has-text-centered">
			<span class="rejected">0</span>
		</h1>
	</a>	
	<!--a href="/panel/pagos" class="column has-background-warning">
		<h5 class="has-text-white">Pagos</h5>
		<h1 class="has-text-white is-size-1 has-text-centered">0</h1>
	</a-->
</div>

<div id="countdown">
	<div id="countdown-number"></div>
	<svg>
		<circle id="circle" r="18" cx="20" cy="20"></circle>
	</svg>
</div>