<%- contentFor('css') %>

<title>FletsPanel</title>

<%- contentFor('js') %>

<script>

	$(function(){

		var secs = 0;
		var countdown = 60
		var countdownNumberEl = document.getElementById('countdown-number');
		var spinnerContainerEl = document.querySelector('.spinner-container')
		var approvedEl = document.querySelector('.approved')
		var preferencesEl = document.querySelector('.preferencias')
		var rejectedEl = document.querySelector('.rejected')

		countdownNumberEl.textContent = countdown;
		var retrieve = function(){
			var preferencias = 0
			var approved = 0
			var rejected = 0

			spinnerContainerEl.classList.remove('fadeOut')
			spinnerContainerEl.classList.add('fadeIn')

			$.ajax({
				url: '/panel/search',
				method:'post',
				dataType: 'json',
				data: { data : JSON.stringify({
						limit:null
					})
				},
				success: function(res){
					for(var i in res.results){
						preferencias++
						if(res.results[i].mercadopago){
							if(res.results[i].mercadopago.status === 'approved'){
								flets++
							} else {
								rejected++
							}
						}
					}

					approvedEl.textContent = approved
					rejectedEl.textContent = rejected
					preferencesEl.textContent = preferencias
					spinnerContainerEl.classList.remove('fadeIn')
					spinnerContainerEl.classList.add('fadeOut')
					document.title = '(' + preferencias + ') FletsPanel'
				}
			})	
		}

		setInterval(function(){
			countdown = --countdown <= 0 ? 60 : countdown;
			if(countdown===0){
				retrieve()	
			} 	
			countdownNumberEl.textContent = countdown;
		},1000)

		retrieve()	
	})

</script>

<%- contentFor('content') %>

<% include ./header %>

<h3></h3>

<div class="columns">
	<a href="/panel/preferencias" class="column has-background-info">
		<h5 class="has-text-white">Preferencias</h5>
		<h1 class="has-text-white is-size-1 has-text-centered">
			<span class="preferencias">0</span>
		</h1>
	</a>
	<a href="/panel/flets" class="column has-background-success">
		<h5 class="has-text-white">Flets</h5>
		<h1 class="has-text-white is-size-1 has-text-centered">
			<span class="approved">0</span>
		</h1>
	</a>
	<a href="/panel/rechazados" class="column has-background-danger">
		<h5 class="has-text-white">Rechazados</h5>
		<h1 class="has-text-white is-size-1 has-text-centered">
			<span class="rejected">0</span>
		</h1>
	</a>	
	<!--a href="/panel/pagos" class="column has-background-warning">
		<h5 class="has-text-white">Pagos</h5>
		<h1 class="has-text-white is-size-1 has-text-centered">0</h1>
	</a-->
	
</div>

<div id="countdown">
  <div id="countdown-number"></div>
  <svg>
    <circle r="18" cx="20" cy="20"></circle>
  </svg>
</div>